<div class="comment-form">
    <%= form_with model: [post, Comment.new] do |form| %>
        <%= form.text_area :content, class: 'comment-input', rows: 4, placeholder: 'Share your thoughts...' %>
        <div class="comment-form-footer">
            <button 
                class="comment-submit" 
                style="margin-left: auto;"
                data-controller="comments"
                data-action="click->comments#updateCommentsCount"
                data-comments-post-id-param="<%= post.id %>">
                <%= form.submit 'Post Comment', 
                    class: 'comment-submit', 
                    style: "padding-left: 0.5rem;padding-top: 0px;padding-bottom: 0px;padding-right: 0.5rem;" %>
            </button>
        </div>
    <% end %>
</div>