<div class="comment-form" data-controller="comments-form" data-comments-form-post-id-value="<%= post.id %>">
    <%= form_with model: [post, Comment.new], data: { controller: "comments-form" }, action: "javascript:void(0);", data: { action: "submit->comments-form#submit" } do |form| %>
        <%= form.text_area :content, class: 'comment-input', rows: 4, placeholder: 'Share your thoughts...', data: { comments_form_target: "content" } %>
        <div class="comment-form-footer">
            <button 
                class="comment-submit" 
                style="margin-left: auto;">
                <%= form.submit 'Post Comment', 
                    class: 'comment-submit', 
                    style: "padding-left: 0.5rem;padding-top: 0px;padding-bottom: 0px;padding-right: 0.5rem;" %>
            </button>
        </div>
    <% end %>
</div>