<div id="<%= dom_id following_user %>">
  <p>
    <strong>User:</strong>
    <%= following_user.user_id %>
  </p>

  <p>
    <strong>Following user:</strong>
    <%= following_user.following_user_id %>
  </p>

</div>
