<% content_for :title, "Editing following user" %>

<h1>Editing following user</h1>

<%= render "form", following_user: @following_user %>

<br>

<div>
  <%= link_to "Show this following user", @following_user %> |
  <%= link_to "Back to following users", following_users_path %>
</div>
