
  <header>
    <h1>Rolando Vázquez</h1>
    <p>Software Engineer</p>
  </header>

  <div class="contact-container">
    <section class="info-section">
      <h2>📬 Contact Info</h2>
      <p><strong>Email:</strong> <%= mail_to "rolando.vazquez.23@gmail.com" %></p>
      <p><strong>Company:</strong> <a href="https://mexclouds.com" target="_blank">mexclouds.com</a></p>
      <p><strong>Personal Site:</strong> <a href="https://mrcode.mexclouds.com" target="_blank">mrcode.mexclouds.com</a></p>
      <p><strong>Main Projects:</strong></p>
      <ul>
        <li><a href="https://rubygems.org/gems/acts_as_realtime" target="_blank">acts_as_realtime</a></li>
        <li><a href="https://tiempo.com.mx" target="_blank">tiempo.com.mx</a></li>
        <li><a href="https://https://rubygems.org/gems/MexWeather target="_blank">MexWeather</a></li>
      </ul>
    </section>

   
  </div>
